{:rows
 (("F" "Belarus" "Super Denim Co" 55914)
  ("F" "Hungary" "The Hipster Jeans Company" 60015)
  ("F" "Portugal" "Super Denim Co" 56519)
  ("F" "Moldova" "Wrangled Jeans" 58123)
  ("F" "Ireland" "Wrangled Jeans" 52999)
  ("F" "Kosovo" "Wrangled Jeans" 53875)
  ("F" "United Kingdom" "Super Denim Co" 57430)
  ("F" "Kazakhstan" "Wrangled Jeans" 53662)
  ("F" "Sweden" "Levisos Jeans" 57809)
  ("F" "Croatia" "Denzil Jeans" 60790)
  ("F" "Ukraine" "Super Denim Co" 54358)
  ("F" "Belgium" "Levisos Jeans" 63005)
  ("F" "Romania" "Wrangled Jeans" 53496)
  ("F" "Malta" "The Hipster Jeans Company" 58300)
  ("F" "Azerbaijan" "Levisos Jeans" 58015)
  ("F" "Estonia" "Levisos Jeans" 53205)
  ("F" "Lithuania" "The Hipster Jeans Company" 55247)
  ("F" "Georgia" "Levisos Jeans" 54458)
  ("F" "Latvia" "Wrangled Jeans" 54570)
  ("F" "Greece" "The Hipster Jeans Company" 68772)
  ("F" "San Marino" "The Hipster Jeans Company" 55863)
  ("F" "Russia" "Super Denim Co" 56242)
  ("F" "Italy" "Super Denim Co" 61724)
  ("F" "France" "Levisos Jeans" 57055)
  ("F" "Serbia" "Denzil Jeans" 56099)
  ("F" "Slovenia" "The Hipster Jeans Company" 60475)
  ("F" "Armenia" "Wrangled Jeans" 57330)
  ("F" "Slovakia" "The Hipster Jeans Company" 57234)
  ("F" "Norway" "Super Denim Co" 58700)
  ("F" "Monaco" "Super Denim Co" 57523)
  ("F" "Albania" "Wrangled Jeans" 57053)
  ("F" "Cyprus" "Wrangled Jeans" 56903)
  ("F" "Finland" "Levisos Jeans" 56568)
  ("F" "Denmark" "Wrangled Jeans" 62110)
  ("F" "Luxembourg" "The Hipster Jeans Company" 54307)
  ("F" "Switzerland" "Super Denim Co" 56037)
  ("F" "Iceland" "Super Denim Co" 53009)
  ("F" "Netherlands" "The Hipster Jeans Company" 54119)
  ("F" "Spain" "The Hipster Jeans Company" 53780)
  ("F" "Germany" "Denzil Jeans" 59339)
  ("F" "Turkey" "Denzil Jeans" 52731)
  ("F" "Poland" "Wrangled Jeans" 56377)
  ("F" "Andorra" "Denzil Jeans" 53440)
  ("F" "Liechtenstein" "Denzil Jeans" 60130)
  ("F" "Macedonia" "Denzil Jeans" 56355)
  ("F" "Bulgaria" "Wrangled Jeans" 56316)
  ("F" "Austria" "Wrangled Jeans" 59796)
  ("F" "Bosnia and Herzegovina" "Wrangled Jeans" 56180)
  ("F" "Montenegro" "Levisos Jeans" 61914)
  ("F" "Czech Republic" "Wrangled Jeans" 54661)
  ("M" "Belarus" "Wrangled Jeans" 53481)
  ("M" "Hungary" "Super Denim Co" 57150)
  ("M" "Portugal" "The Hipster Jeans Company" 56868)
  ("M" "Moldova" "Levisos Jeans" 54026)
  ("M" "Ireland" "Denzil Jeans" 62404)
  ("M" "Kosovo" "Wrangled Jeans" 57554)
  ("M" "United Kingdom" "Denzil Jeans" 54687)
  ("M" "Kazakhstan" "Super Denim Co" 54038)
  ("M" "Sweden" "Wrangled Jeans" 58191)
  ("M" "Croatia" "The Hipster Jeans Company" 51399)
  ("M" "Ukraine" "Denzil Jeans" 59161)
  ("M" "Belgium" "Denzil Jeans" 58627)
  ("M" "Romania" "Wrangled Jeans" 54068)
  ("M" "Malta" "Levisos Jeans" 53538)
  ("M" "Azerbaijan" "Wrangled Jeans" 58148)
  ("M" "Estonia" "Wrangled Jeans" 56072)
  ("M" "Lithuania" "Wrangled Jeans" 52721)
  ("M" "Georgia" "Denzil Jeans" 57746)
  ("M" "Latvia" "Levisos Jeans" 55228)
  ("M" "Greece" "Levisos Jeans" 56515)
  ("M" "San Marino" "Denzil Jeans" 50093)
  ("M" "Russia" "Wrangled Jeans" 54895)
  ("M" "Italy" "Super Denim Co" 60830)
  ("M" "France" "Denzil Jeans" 52809)
  ("M" "Serbia" "Wrangled Jeans" 58449)
  ("M" "Slovenia" "Wrangled Jeans" 56909)
  ("M" "Armenia" "Wrangled Jeans" 58120)
  ("M" "Slovakia" "Denzil Jeans" 52965)
  ("M" "Norway" "Super Denim Co" 60374)
  ("M" "Monaco" "Super Denim Co" 57486)
  ("M" "Albania" "Wrangled Jeans" 62074)
  ("M" "Cyprus" "Super Denim Co" 52486)
  ("M" "Finland" "Denzil Jeans" 57239)
  ("M" "Denmark" "The Hipster Jeans Company" 57112)
  ("M" "Luxembourg" "Denzil Jeans" 57215)
  ("M" "Switzerland" "Super Denim Co" 56196)
  ("M" "Iceland" "The Hipster Jeans Company" 59075)
  ("M" "Netherlands" "Wrangled Jeans" 55690)
  ("M" "Spain" "Super Denim Co" 56718)
  ("M" "Germany" "The Hipster Jeans Company" 53570)
  ("M" "Turkey" "Levisos Jeans" 56528)
  ("M" "Poland" "Denzil Jeans" 53375)
  ("M" "Andorra" "Denzil Jeans" 57881)
  ("M" "Liechtenstein" "Wrangled Jeans" 51225)
  ("M" "Macedonia" "Super Denim Co" 58234)
  ("M" "Bulgaria" "The Hipster Jeans Company" 55136)
  ("M" "Austria" "Levisos Jeans" 52013)
  ("M" "Bosnia and Herzegovina" "The Hipster Jeans Company" 61021)
  ("M" "Montenegro" "Wrangled Jeans" 53288)
  ("M" "Czech Republic" "Levisos Jeans" 54856)),
 :columns ["gender" "country" "manufacturer" "count"]}
